* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}
:root {
  --bttncolor: #ff6666;
}
body :not(section.vid) {
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 70vh;
  width: 100%;
  overflow-y: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.box {
  justify-self: center;
  overflow-y: hidden;
}
.num {
  justify-self: center;
  font-size: 4rem;
  overflow-y: hidden;
}
.headertxt {
  text-align: center;
  font-size: 2rem;
}
.homebtn {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-y: hidden;
}
.learnhome {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  transition: 0.2s ease;
}
.buyhome {
  cursor: pointer;
  border: none;
  background-color: var(--bttncolor);
  border-radius: 12px;
  padding: 10px;
  font-size: 2rem;
  transition: 0.2s ease;
}
.learnhome:hover {
  scale: 1.1;
}
.buyhome:hover {
  scale: 1.1;
}
section.vid video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
section.vid {
  height: 400vh;
  position: relative;
}
section.vid div.holder {
  position: sticky;
  top: 0;
}
section.vid div.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  color: white;
}
section.vid div.about div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: black;
}
h3 {
  max-width: 25ch;
}
.foot {
  height: 100vh;
  background-image: url(footelement/hombgjpg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-y: auto;
}

.characters {
  grid-row: 1;
  position: absolute;
  overflow-y: hidden;
  display: table-column;
  margin-top: 20px;
}
.charactercard {
  width: 20vw;
  object-fit: cover;
  position: relative;
  overflow-y: hidden;
}
.characters :nth-child(1) {
  transform: rotate(-30deg);
  left: 90px;
  transition: ease 0.5s;
}
.characters :nth-child(2) {
  transform: rotate(10deg);
  transition: ease 0.5s;
}
.characters :nth-child(3) {
  left: -90px;
  transition: ease 0.5s;
}
.characters :nth-child(1):hover,
.characters :nth-child(2):hover,
.characters :nth-child(3):hover {
  transform: scale(1.1);
}
.characterheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  overflow-y: hidden;
}
.charactertxt {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  color: white;
  overflow-y: hidden;
  text-align: center;
}

.characterbttn {
  background-color: var(--bttncolor);
  border: none;
  border-radius: 12px;
  height: 50px;
  width: 150px;
  font-size: 1.5rem;
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.5s;
}
.characterbttn:hover {
  scale: 1.1;
}
.author {
  grid-row: 2;
  grid-column: 3;
  position: absolute;
  overflow-y: hidden;
  display: table-column;
}
.authorimg {
  width: 200px;
  object-fit: cover;
  position: relative;
  overflow-y: hidden;
  justify-self: center;
  align-items: center;
  left: 30%;
}
.authorheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  overflow-y: hidden;
}
.authortxt {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  color: white;
  overflow-y: hidden;
  text-align: center;
}
.authorbttn {
  background-color: var(--bttncolor);
  border: none;
  border-radius: 12px;
  height: 50px;
  width: 150px;
  font-size: 1.5rem;
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.5s;
}
.authorbttn:hover {
  scale: 1.1;
}
@media (max-width: 768px) {
  .foot {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .charactercard {
    width: 30vw;
  }
  .characters {
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-content: center;
  }
  .author {
    grid-row: 4;
    grid-column: 1;
    justify-self: center;
    align-content: center;
  }
  .authorimg {
    width: 150px;
  }
}
