body {
  margin: 0;
  padding: 0;
}
.myHam {
  display: none;
  background-color: white;
  right: 0em;
  position: absolute;
}
#navContainer {
  height: 70px;
  background-color: #ffb400;
  overflow: hidden;
}
#mainList {
  display: flex;
  align-items: center;
  justify-items: center;
}
#mainList li {
  text-decoration: none;
  list-style: none;
  display: flex;

  padding: 0 24px;
  padding: 10px;
  transition: 0.5s ease;
}
.nav:hover {
  color: aqua;
}
.ham {
  display: none;
  cursor: pointer;
}
.span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: white;
}
#mainList.active {
  display: block;
  grid-template-columns: 1;
  transition: 0.5s ease-out;
}
@media (max-width: 768px) {
  #mainList {
    flex-direction: column;
  }
  #mainList {
    display: none;
  }
  .myHam {
    display: block;
  }
}
